pydantic
Jinja2
weasyprint
firebase-admin
google-cloud-firestore
pendulum
# NOTE on weasyprint dependency:
# weasyprint requires the GTK+ runtime environment for rendering.
# This is because it uses Cairo and Pango libraries which are often
# accessed via the GTK+ stack on various operating systems.
# For Windows, the required runtime can be obtained here:
# https://github.com/tschoonj/GTK-for-Windows-Runtime-Environment-Installer/releases
# for linux, the required runtime libraries are (uncomment them to use them directly):
# libcairo2 
# libpango-1.0-0 
# libpangocairo-1.0-0 
# libgdk-pixbuf-2.0-0 
# libffi-dev 

# Flow: run billing_cli.py -> uses invoice_service.py ( which is turn uses billing_service.py, pdf_service.py, and mailer_service.py in the same order ) 